/* Constants */
:root {
  /* Colors */
  --primary-color: #181818;
  --on-primary-color: #EDE6D6;

  /* Font sizes */
  --small-font-size: 20px;
  --medium-font-size: 24px;
  --large-font-size: 28px;
}

/* Base elements */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  font-family: 'Ubuntu Mono';
  color: var(--on-primary-color);
  font-size: var(--medium-font-size);
  display: flex;
  flex-direction: column;
}

header {
  height: 45px;
  border-bottom: 2px solid var(--on-primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header>h1 {
  flex: 1;
}

header>h1:before {
  content: 'Anton Louis Koetzler-Faust';
}

header>div {
  height: 100%;
  display: flex;
  flex-direction: row;
}

header>div>div {
  width: 2px;
  height: 100%;
  background-color: var(--on-primary-color);
}

main {
  flex: 1;
}

button {
  background: none;
  outline: none;
  border: none;
  font-family: 'Ubuntu Mono';
  font-size: var(--medium-font-size);
  color: var(--on-primary-color);
  padding: 0 10px;
  height: 100%;
  cursor: pointer;
}

button:hover {
  background-color: var(--on-primary-color);
  color: var(--primary-color);
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: var(--large-font-size);
}

@media screen and (max-width: 550px) {
  header>h1:before {
    content: 'Anton Koetzler-Faust';
  }
}

@media screen and (max-width: 450px) {
  header>h1:before {
    content: 'Anton K-F';
  }
}

@media screen and (max-width: 300px) {
  header>h1:before {
    content: 'AKF';
  }
}

@media screen and (max-width: 200px) {
  header>h1 {
    visibility: hidden;
  }
}