body
{
  margin: 0; padding: 0;
  background: #202020;
  font-family: "Ubuntu Regular";
}

a { text-decoration: none; }

header
{
  height: 50px; width: 100%;
  border-bottom: 2px solid #EDE6D6;
  position: fixed;
  top: 0; left: 0;
}

#title
{
  white-space: nowrap;
  margin: 0; padding: 0;
  font-size: 30px; color: #EDE6D6;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

header > a
{
  display: inline-block;
  height: 50px;
  padding: 0px 5px;

  font-size: 20px; line-height: 48px;
  color: #EDE6D6;

  user-select: none;
}
header > a:hover
{
  background: #EDE6D6;
  color: #202020;
}

main
{
  height: calc(100% - 52px); width: 100%;
  text-align: center;
  position: fixed;
  left: 0; bottom: 0;
  overflow-y: auto;
}

main > img
{
  width: 400px; height: auto;
  border-radius: 5px;
  margin: 10px 0px;
}

#pictureHeader
{
  font-family: "Ubuntu Italic";
  font-size: 20px; color: #EDE6D6;
  margin: 0;
}

#aboutMe
{
  font-family: "Ubuntu Regular";
  font-size: 18px; color: #EDE6D6;
  text-align: left;
  padding: 0px 5px 5px 10px;
}

.contactInformation
{
  font-family: "Ubuntu Regular";
  font-size: 18px; color: #EDE6D6;
  margin: 5px;
}

main > h1
{
  white-space: nowrap;
  margin: 20px 0px; padding: 0;
  font-size: 30px; color: #EDE6D6;
}

main > section
{
  text-align: left;
  margin-left: 15px;
}

main > section > h2 
{
  font-size: 25px;
  color: #EDE6D6;
  margin-top: 30px;
  margin-bottom: 5px;
}

main > section ul
{
  list-style-type: upper-roman;
  margin: 0; padding: 0;
  margin-left: 30px;
  font-size: 20px; color: #EDE6D6;
}

main > section ul li { padding-top: 5px; }

@font-face
{
  font-family: "Ubuntu Regular";
  src: url("fonts/Ubuntu-R.ttf") format("truetype");
}
@font-face
{
  font-family: "Ubuntu Italic";
  src: url("fonts/Ubuntu-RI.ttf") format("truetype");
}

@media only screen and (max-width: 625px) { #title { font-size: 18px; } }
@media only screen and (max-width: 450px) { #title { left: 220px; } }

