/* Font initialization */
@font-face {
  font-family: 'Hack';
  src: url('assets/fonts/HackNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('assets/fonts/HackNerdFontMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('assets/fonts/HackNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('assets/fonts/HackNerdFontMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Constants */
:root {
  /* Colors */
  --primary-color: #181818;
  --on-primary-color: #EDE6D6;
  --unvisited-link: #03B1FC;
  --visited-link: lightpink;

  /* Font sizes */
  --tiny-font-size: 14px;
  --small-font-size: 16px;
  --medium-font-size: 20px;
  --large-font-size: 24px;

  /* Borders */
  --border-radius: 15px;
}

/* Base elements */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  font-family: 'Hack';
  color: var(--on-primary-color);
  font-size: var(--medium-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid var(--on-primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header>h1 {
  flex: 1;
}

header>h1:before {
  content: 'Anton Louis Koetzler-Faust';
}

header>div {
  height: 100%;
  display: flex;
  flex-direction: row;
}

header>div>div {
  width: 2px;
  height: 100%;
  background-color: var(--on-primary-color);
}

main {
  flex: 1;
  margin: 20px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
}

main>div {
  width: 90%;
  height: 0.5px;
  background-color: var(--on-primary-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

button {
  background: none;
  outline: none;
  border: none;
  font-family: 'Hack';
  font-size: var(--medium-font-size);
  color: var(--on-primary-color);
  padding: 10px;
  height: 100%;
  cursor: pointer;
}

button:hover {
  background-color: var(--on-primary-color);
  color: var(--primary-color);
}

ul {
  margin: 0 40px;
  padding: 0;
  list-style-type: '- ';
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  line-height: 0.4;
}

p,
a,
li,
h3 {
  font-size: var(--small-font-size);
}

h2 {
  font-size: var(--medium-font-size);
}

h1 {
  font-size: var(--large-font-size);
}

a:link {
  color: var(--unvisited-link);
}

a:visited {
  color: var(--visited-link);
}

#about-me>img {
  width: 300px;
  height: 300px;
  border-radius: var(--border-radius);
  border: 2px solid var(--on-primary-color);
  margin-bottom: 6px;
}

#tech-stack>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 460px;
}

#tech-stack>div>img {
  width: 60px;
  height: 60px;
}

#professional-experience>figure>p:nth-child(2) {
  font-style: italic;
}

#professional-experience p {
  font-size: var(--tiny-font-size);
}

#contact-information p,
span {
  font-size: var(--tiny-font-size);
}

#projects>div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#projects a {
  padding-left: 20px;
}

#contact-information span {
  font-style: bold;
}

@media screen and (max-width: 625px) {
  header>h1:before {
    content: 'Anton Koetzler-Faust';
  }
}

@media screen and (max-width: 525px) {
  header>h1:before {
    content: 'Anton K-F';
  }
}

@media screen and (max-width: 400px) {
  header>h1:before {
    content: 'Anton';
  }
}

@media screen and (max-width: 275px) {
  header>h1 {
    visibility: hidden;
  }
}
