#appBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--on-primary-color);
  height: 38px;

}

.app-bar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#app-bar-title:before {
  content: 'Anton Louis Koetzler-Faust';
}

#app-bar-title {
  text-align: center;
  width: 100%;
}

@media (max-width: 550px) {
  #app-bar-title:before {
    content: 'Anton Koetzler-Faust'
  }
}

@media (max-width: 500px) {
  #app-bar-title:before {
    content: 'Anton K-F'
  }
}

@media (max-width: 450px) {
  #app-bar-title:before {
    content: 'AKF'
  }
}