:root {
  --primary-dark-mode-color: #181818;
  --primary-light-mode-color: #EDE6D6;
}

/* Regular font. */
@font-face {
  font-family: 'Iosevka';
  src: url('../../assets/fonts/Iosevka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Italic font. */
@font-face {
  font-family: 'Iosevka';
  src: url('../../assets/fonts/Iosevka-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bold font. */
@font-face {
  font-family: 'Iosevka';
  src: url('../../assets/fonts/Iosevka-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  /* Disable default HTML margin. */
  margin: 0;

  /* Default font and font color. */
  font-family: 'Iosevka';
  color: var(--primary-light-mode-color);

  /* Smooth text. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}